@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    background-color:#100E19;
    color: #FDFDFD;
}

html {
    scroll-behavior: smooth;
  }

/* Add this in your global.css or component styles if not using Tailwind for bullets */
.swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  
  .swiper-pagination-bullet-active {
    background: #100E19; 
    opacity: 1;
  }
  
  